Section "InputClass"
  Identifier	"calibration"
  MatchProduct	"eGalax Inc. USB TouchController"
  Option	"Calibration"	"{{ touchscreen_calibration_1 }} {{ touchscreen_calibration_2 }} {{ touchscreen_calibration_3 }} {{ touchscreen_calibration_4 }}"
  Option	"SwapAxes"	"{{ touchscreen_swap_axes }}"
EndSection
