Section "InputClass"
  Identifier  "calibration"
  Driver "libinput"
  MatchProduct  "eGalax Inc. USB TouchController"
  Option "TransformationMatrix" "{{ touchscreen_transformation_matrix }}"
EndSection
