---

- name: "Install desktop"
  apt: name="{{ item }}"
  with_items:
  - lxde

- name: Install Gnome applications
  apt: name="{{ item }}"
  with_items:
  - network-manager
  - network-manager-gnome

- name: "Install GNU Krell monitors"
  apt: name="gkrellm"
