auto lo
iface lo inet loopback

auto eth0
allow-hotplug eth0
iface eth0 inet manual

#auto wlan0
#allow-hotplug wlan0
#iface wlan0 inet manual
#wpa-conf /etc/wpa_supplicant/wpa_supplicant.conf

#auto {{ wap_device }}
allow-hotplug {{ wap_device }}
iface wlan1 inet static
	address {{ wap_ip_octet_1 }}.{{ wap_ip_octet_2 }}.{{ wap_ip_octet_3 }}.{{ wap_ip_octet_4 }}
	network {{ wap_ip_octet_1 }}.{{ wap_ip_octet_2 }}.{{ wap_ip_octet_3 }}.0
	broadcast {{ wap_ip_octet_1 }}.{{ wap_ip_octet_2 }}.{{ wap_ip_octet_3 }}.255
	netmask 255.255.255.0

